.jdb-html-content {
	height: 100%;
}

body .jdb-element:not(:last-child) {
	margin-bottom: 30px;
}

.com-jdbuilder .jdb-heading-subheading {
	margin-top: 10px;
	margin-bottom: 0;
	display: block;
	font-size: 18px;
	font-weight: normal;
}