<?xml version="1.0" encoding="UTF-8" ?>
<menu menutype="sellacious-menu" language="*" client_id="2">
	<attributes>
		<id>1</id>
	</attributes>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_DASHBOARD</title>
			<alias>dashboard</alias>
			<link>index.php?option=com_sellacious&amp;view=dashboard</link>
			<type>component</type>
			<component>com_sellacious</component>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"dashboard","menu_image":"","menu_text":1}</params>
		</attributes>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_SHOP</title>
			<alias>shop</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"shopping-cart","menu_image":"","menu_text":1,"menu-access":["category.list","coupon.list","coupon.list.own","product.list","product.list.own","product.edit.pricing","product.edit.seller","product.edit.pricing.own","product.edit.seller.own","shoprule.list","shoprule.list.own","shippingrule.list","shippingrule.list.own","coupon.list","coupon.list.own","order.list","order.list.own","rating.list","rating.list.own"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_CATALOGUE</title>
				<alias>product-catalogue</alias>
				<link>index.php?option=com_sellacious&amp;view=products</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"book","menu_image":"","menu_text":1,"menu-access":["product.list","product.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_INVENTORY_MANAGER</title>
				<alias>inventory-manager</alias>
				<link>index.php?option=com_sellacious&amp;view=products&amp;layout=bulk</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"bullseye","menu_image":"","menu_text":1,"menu-access":["product.edit.pricing","product.edit.seller","product.edit.pricing.own","product.edit.seller.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_TAXES_AND_DISCOUNT</title>
				<alias>taxes-discounts</alias>
				<link>index.php?option=com_sellacious&amp;view=shoprules</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"exchange","menu_image":"","menu_text":1,"menu-access":["shoprule.list","shoprule.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_SHIPPING_RULES</title>
				<alias>shipping-rules</alias>
				<link>index.php?option=com_sellacious&amp;view=shippingrules</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"wrench","menu_image":"","menu_text":1,"menu-access":["shippingrule.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_COUPONS</title>
				<alias>coupons</alias>
				<link>index.php?option=com_sellacious&amp;view=coupons</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"ticket","menu_image":"","menu_text":1,"menu-access":["coupon.list","coupon.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ORDERS</title>
				<alias>orders</alias>
				<link>index.php?option=com_sellacious&amp;view=orders</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"paperclip","menu_image":"","menu_text":1,"menu-access":["order.list","order.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_REVIEW_AND_RATINGS</title>
				<alias>review-n-ratings</alias>
				<link>index.php?option=com_sellacious&amp;view=ratings</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"star-half-o","menu_image":"","menu_text":1,"menu-access":["rating.list","rating.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_QUESTIONS</title>
				<alias>product-questions</alias>
				<link>index.php?option=com_sellacious&amp;view=questions</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"question","menu_image":"","menu_text":1,"menu-access":["question.list","question.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_BUTTONS</title>
				<alias>product-buttons</alias>
				<link>index.php?option=com_sellacious&amp;view=productbuttons</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"link","menu_image":"","menu_text":1,"menu-access":["product.list","product.list.own"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_TRANSACTIONS</title>
			<alias>transactions</alias>
			<link>index.php?option=com_sellacious&amp;view=transactions</link>
			<type>component</type>
			<component>com_sellacious</component>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"bank","menu_image":"","menu_text":1,"menu-access":["transaction.list","transaction.list.own"]}</params>
		</attributes>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_USER_PROFILES</title>
			<alias>user-profiles</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_MANUFACTURERS</title>
				<alias>manufacturers</alias>
				<link>index.php?option=com_sellacious&amp;view=users&amp;filter[profile_type]=mfr</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_SELLERS</title>
				<alias>sellers</alias>
				<link>index.php?option=com_sellacious&amp;view=users&amp;filter[profile_type]=seller</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_CLIENTS</title>
				<alias>clients</alias>
				<link>index.php?option=com_sellacious&amp;view=users&amp;filter[profile_type]=client</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_STAFFS</title>
				<alias>staffs</alias>
				<link>index.php?option=com_sellacious&amp;view=users&amp;filter[profile_type]=staff</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ALL_USERS</title>
				<alias>all-users</alias>
				<link>index.php?option=com_sellacious&amp;view=users&amp;filter[profile_type]=</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"user","menu_image":"","menu_text":1,"menu-access":["user.list"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_CATEGORIES</title>
			<alias>categories</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"sitemap","menu_image":"","menu_text":1,"menu-access":["category.list","splcategory.list"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_SPECIAL_CATEGORIES</title>
				<alias>special-categories</alias>
				<link>index.php?option=com_sellacious&amp;view=splcategories</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"tags","menu_image":"","menu_text":1,"menu-access":["splcategory.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ALL_CATEGORIES</title>
				<alias>all-categories</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"cubes","menu_image":"","menu_text":1,"menu-access":["category.list"],"menu-page-title":""}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PHYSICAL_PRODUCT</title>
				<alias>physical-product</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=product/physical</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"laptop","menu_image":"","menu_text":1,"menu-access":["category.list"],"menu-page-title":""}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ELECTRONIC_PRODUCT</title>
				<alias>electronic-product</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=product/electronic</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"desktop","menu_image":"","menu_text":1,"menu-access":["category.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_CLIENT</title>
				<alias>client-customer</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=client</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"empire","menu_image":"","menu_text":1,"menu-access":["category.list"],"menu-page-title":""}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_STAFF</title>
				<alias>staff</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=staff</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"odnoklassniki","menu_image":"","menu_text":1,"menu-access":["category.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_SELLER</title>
				<alias>seller</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=seller</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"diamond","menu_image":"","menu_text":1,"menu-access":["category.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_MANUFACTURER</title>
				<alias>manufacturer</alias>
				<link>index.php?option=com_sellacious&amp;view=categories&amp;filter[type]=manufacturer</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"industry","menu_image":"","menu_text":1,"menu-access":["category.list"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_MESSAGES</title>
			<alias>messages</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"envelope","menu_image":"","menu_text":1,"menu-access":["message.list","message.list.own","message.create"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_READ_MESSAGE</title>
				<alias>read-message</alias>
				<link>index.php?option=com_sellacious&amp;view=messages</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"inbox","menu_image":"","menu_text":1,"menu-access":["message.list","message.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_COMPOSE</title>
				<alias>compose</alias>
				<link>index.php?option=com_sellacious&amp;view=message&amp;layout=edit&amp;id=0</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"edit","menu_image":"","menu_text":1,"menu-access":["message.create"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_ADDITIONAL_ATTRIBUTES</title>
			<alias>additional-attributes</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_ATTRIBUTES</title>
				<alias>product-attributes</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=product</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_USER_ATTRIBUTES</title>
				<alias>user-attributes</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=user</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_QUERY_FORM_FIELDS</title>
				<alias>query-form-fields</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=queryform</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PAYMENT_FORM_FIELDS</title>
				<alias>payment-form-fields</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=paymentmethod</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_CHECKOUT_FORM_FIELDS</title>
				<alias>checkoutform-fields</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=checkoutform</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_SHIPPING_FORM_FIELDS</title>
				<alias>shippingmethod-fields</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=shippingmethod</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>
	<!--<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_CUSTOM_FORM_FIELDS</title>
				<alias>custom-form-fields</alias>
				<link>index.php?option=com_sellacious&amp;view=fields&amp;filter[context]=form</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"check-square-o","menu_image":"","menu_text":1,"menu-access":["field.list"]}</params>
			</attributes>
		</menu>-->
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_REPORTING</title>
			<alias>reporting</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"bar-chart-o","menu_image":"","menu_text":1,"menu-access":["mailqueue.list","download.list","download.list.own"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_COMMUNICATION_LOG</title>
				<alias>communication-log</alias>
				<link>index.php?option=com_sellacious&amp;view=mailqueue</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"at","menu_image":"","menu_text":1,"menu-access":["mailqueue.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_QUERIES</title>
				<alias>product-queries</alias>
				<link>index.php?option=com_sellacious&amp;view=mailqueue&amp;context=product_query</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"at","menu_image":"","menu_text":1,"menu-access":["mailqueue.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ALL_DOWNLOADS</title>
				<alias>downloads</alias>
				<link>index.php?option=com_sellacious&amp;view=downloads</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"download","menu_image":"","menu_text":1,"menu-access":["download.list","download.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_FILE_WISE_DOWNLOADS</title>
				<alias>file-wise-downloads</alias>
				<link>index.php?option=com_sellacious&amp;view=downloads&amp;layout=file</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"download","menu_image":"","menu_text":1,"menu-access":["download.list","download.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PRODUCT_WISE</title>
				<alias>product-wise-downloads</alias>
				<link>index.php?option=com_sellacious&amp;view=downloads&amp;layout=product</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"download","menu_image":"","menu_text":1,"menu-access":["download.list","download.list.own"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ADVANCED_REPORTING</title>
				<alias>advanced-reports</alias>
				<link>index.php?option=com_sellaciousreporting&amp;view=reports</link>
				<type>component</type>
				<component>com_sellaciousreporting</component>
				<published>1</published>
				<params>{"menu-anchor_css":"paperclip","menu_show":1}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_IMPORTER</title>
			<alias>importer</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"exchange","menu_image":"","menu_text":1,"menu-access":["config.edit","permissions.edit","currency.list","status.list","unit.list","paymentmethod.list","location.list","location.list","emailtemplate.edit"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_IMPORTER_IMPORT</title>
				<alias>import</alias>
				<link>index.php?option=com_importer&amp;view=import</link>
				<type>component</type>
				<component>com_importer</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"upload","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_IMPORTER_TEMPLATES</title>
				<alias>translations</alias>
				<link>index.php?option=com_importer&amp;view=templates</link>
				<type>component</type>
				<component>com_importer</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"file","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_IMPORTER_IMPORTS</title>
				<alias>imports</alias>
				<link>index.php?option=com_importer&amp;view=imports</link>
				<type>component</type>
				<component>com_importer</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"list","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_LANGUAGES</title>
			<alias>languages</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"globe","menu_image":"","menu_text":1,"menu-access":["config.edit","permissions.edit","currency.list","status.list","unit.list","paymentmethod.list","location.list","location.list","emailtemplate.edit"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_LANGUAGES</title>
				<alias>languages</alias>
				<link>index.php?option=com_languages&amp;view=languages</link>
				<type>component</type>
				<component>com_languages</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"globe","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_LANGUAGE_STRINGS</title>
				<alias>translations</alias>
				<link>index.php?option=com_languages&amp;view=strings</link>
				<type>component</type>
				<component>com_languages</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"language","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
	</menu>
	<menu>
		<attributes>
			<title>MOD_SMARTYMENU_MENU_LINK_SETTINGS</title>
			<alias>settings</alias>
			<link>#</link>
			<type>heading</type>
			<published>1</published>
			<params>{"menu-anchor_title":"","menu-anchor_css":"gear","menu_image":"","menu_text":1,"menu-access":["config.edit","permissions.edit","currency.list","status.list","unit.list","paymentmethod.list","location.list","location.list","emailtemplate.edit"]}</params>
		</attributes>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_MENUS</title>
				<alias>menu</alias>
				<link>index.php?option=com_menus&amp;view=items</link>
				<type>component</type>
				<component>com_menus</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"anchor","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_GLOBAL_CONFIGURATION</title>
				<alias>global-configuration</alias>
				<link>index.php?option=com_sellacious&amp;view=config</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"cogs","menu_image":"","menu_text":1,"menu-access":["config.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PERMISSIONS</title>
				<alias>permissions</alias>
				<link>index.php?option=com_sellacious&amp;view=permissions</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"lock","menu_image":"","menu_text":1,"menu-access":["permissions.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_CURRENCIES</title>
				<alias>currencies</alias>
				<link>index.php?option=com_sellacious&amp;view=currencies</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"money","menu_image":"","menu_text":1,"menu-access":["currency.list"],"menu-page-title":""}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_ORDER_STATUSES</title>
				<alias>order-statuses</alias>
				<link>index.php?option=com_sellacious&amp;view=statuses</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"key","menu_image":"","menu_text":1,"menu-access":["status.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_MEASUREMENT_UNITS</title>
				<alias>measurement-units-</alias>
				<link>index.php?option=com_sellacious&amp;view=units</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"balance-scale","menu_image":"","menu_text":1,"menu-access":["unit.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_PAYMENT_METHODS</title>
				<alias>payment-methods</alias>
				<link>index.php?option=com_sellacious&amp;view=paymentmethods</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"bank","menu_image":"","menu_text":1,"menu-page-title":"","menu-access":["paymentmethod.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_GEOLOCATIONS</title>
				<alias>locations</alias>
				<link>index.php?option=com_sellacious&amp;view=locations</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"map-marker","menu_image":"","menu_text":1,"menu-page-title":"","menu-access":["location.list"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_EMAIL_TEMPLATES</title>
				<alias>email-templates</alias>
				<link>index.php?option=com_sellacious&amp;view=emailtemplates</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"lock","menu_image":"","menu_text":1,"menu-access":["emailtemplate.edit"]}</params>
			</attributes>
		</menu>
		<menu>
			<attributes>
				<title>MOD_SMARTYMENU_MENU_LINK_LICENSES</title>
				<alias>licenses</alias>
				<link>index.php?option=com_sellacious&amp;view=licenses</link>
				<type>component</type>
				<component>com_sellacious</component>
				<published>1</published>
				<params>{"menu-anchor_title":"","menu-anchor_css":"sticky-note","menu_image":"","menu_text":1,"menu-access":["license.list"]}</params>
			</attributes>
		</menu>
	</menu>
</menu>
