<div style="text-align: center; width: 100%; background-color:#ffffff;">
<div class="acymailing_online acyeditor_delete acyeditor_text" style="text-align:center">{readonline}This email contains graphics, so if you don't see them, view it in your browser{/readonline}</div>

<table align="center" border="0" cellpadding="0" cellspacing="0" class="w600" style="text-align: justify; margin: auto; width:600px">
	<tbody class="acyeditor_sortable">
		<tr style="line-height: 0px;" class="acyeditor_delete">
			<td class="w600" colspan="5" style="background-color: #69b4c0;" valign="bottom" width="600"><img alt=" - - - " src="images/top.png" /></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
			<td class="acyeditor_text w520" colspan="3" height="80" style="text-align: left; background-color: rgb(235, 235, 235);" width="520"><img alt="-" src="images/message_icon.png" style="float:left; margin-right:10px;" />
				<h3>Topic of your message</h3>

				<h4>Subtitle for your message</h4>
			</td>
			<td class="acyeditor_picture w40" style="background-color: #ebebeb;" width="40"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="w480" height="20" style="background-color:#fff;" width="480"></td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="acyeditor_text w480 pict" style="background-color:#fff; text-align: left;" width="480">
			<h1>Dear {subtag:name},</h1>
			Your message here...<br />
			</td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="w480" height="20" style="background-color:#fff;" width="480"></td>
			<td class="w20" style="background-color: #fff;" width="20"></td>
			<td class="w40" style="background-color: #ebebeb;" width="40"></td>
		</tr>
		<tr style="line-height: 0px;" class="acyeditor_delete">
			<td class="w600" colspan="5" style="background-color:#ebebeb;" width="600"><img alt=" - - - " src="images/bottom.png" /></td>
		</tr>
	</tbody>
</table>

<div class="acyeditor_delete acyeditor_text" style="text-align:center">Not interested any more? {unsubscribe}Unsubscribe{/unsubscribe}</div>
</div>