.astroid-banner-inner {
   background-color: #f9f9f9;
   padding: 160px 0 100px;
   text-align: center;
   .astroid-banner-title {
      @include media-breakpoint-up(lg) {
         padding-top: 50px;
     }
   }
}