// Template Layout
@import "layout";

// Template Pages
@import "pages/comingsoon";
@import "pages/404";
@import "pages/about";


// Template Components
@import "theme/themeTypography";
@import "theme/themeElements";
@import "theme/topbar";
@import "theme/header";
@import "theme/banner";
@import "theme/mobilemenu";
@import "theme/header-custom-style";
@import "theme/logo";
@import "theme/backtotop";
@import "theme/social";
@import "theme/bottom";
@import "theme/footer";
@import "theme/pagination";
@import "theme/pagenav";
@import "theme/blockquote";
@import "theme/breadcrumbs";
@import "theme/overrides";
@import "theme/blog";