.astroid-social-icons{
   
}

header{
   .astroid-social-icons{
      
   }
}

footer{
   .astroid-social-icons{
    li{
        display: inline-block;
        margin-bottom: 10px;
        &:not(:last-child){
            margin-right: 10px;
        }
        a{
            text-align: center;
            display: block;
            padding: 5px 10px;
            min-width: 40px;
            @include transition(all 0.3s ease);
            .text-white &{
                color: $white;
            }
            &:hover{
                color: $primary !important;
            }
        }
    }
   }
}