#seller-info {
	border: 2px solid #eee;
	background: #f5f5f5;
	padding: 10px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.sellerdata {
	float: left;
	width: 75%;
	margin-bottom: 15px;
	padding: 0 10px;
	box-sizing: border-box;
}
#seller-info .sellerdata h2 {
	margin: 10px 0 8px;
	font-size: 24px;
	line-height: 28px;
}
.seller-logoarea {
	float: right;
	width: 25%;
	text-align: right;
}
.seller-logo {
	max-width: 150px;
	max-height: 150px;
	display: inline-block;
}
.store-address {
	line-height: 1.6;
	margin-bottom: 5px;
}

.rating-stars {
	font-size: 14px;
	line-height: 1.2;
	margin: 0;
}
.rating-stars:before {
	font-size: 16px;
}

a.review-link:hover {
	text-decoration: none;
}

@media (max-width: 767px){
	.sellerdata {
		width: 60%;
	}
	.seller-logoarea {
		width: 40%;
	}
}
@media (max-width: 500px){
	.sellerdata{
		width: 100%;
		padding: 0;
	}
	.seller-logoarea {
		width: 100%;
		text-align: left;
		overflow: hidden;
	}
	.seller-logo{
		max-with: none;
	}
}
