.padding-10 {
	padding: 10px;
}

.list-layout .product-wrap {
	width: 100%;
	position: static;
}

.list-layout .product-box {
	background-color: #fafafa;
	border: 1px solid #e6e6e6;
	margin: 0 0 8px;
	padding: 3px;
	min-height: 176px;
}

.list-layout .product-box .image-box {
	width: 175px;
	height: 170px;
	float: left;
	background: #ffffff;
	border: 3px solid #ffffff;
	padding: 0;
	margin-right: 5px;
}

.list-layout .product-info-box {
	width: calc(100% - 180px);
	float: left;
	border: none;
	padding: 4px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.list-layout .product-box .product-title {
	white-space: normal;
	overflow: visible;
}

.list-layout .isolate {
	border: 0;
}

.list-layout .product-box .product-price {
	font-size: 15px;
	margin: 0 4px 0 0;
	line-height: 25px;
}

.list-layout .product-box .old-price {
	line-height: 24px;
	float: left;
}

.list-layout .product-box ul.product-features {
	padding: 0;
}

.list-layout .product-box ul.product-features li {
	float: left;
	white-space: normal;
}
.list-layout .product-box ul.product-features li:before {
	content: '';
	margin: 0;
}
.list-layout .product-box ul.product-features li + li:before {
	content: ', ';
}

.list-layout .product-box .btn-price-toggle,
.list-layout .product-box .productquerybtn {
	margin: 0;
	text-align: left;
}

.list-layout .product-box .btn-price-toggle .btn,
.list-layout .product-box .productquerybtn a,
.list-layout .product-box .lbl-no-stock,
.list-layout .product-box .btn-add-cart,
.list-layout .product-box .btn-quick-view {
	font-size: 12px;
	margin: 2px 2px 2px 0;
	padding: 5px 12px;
	position: static;
	opacity: 1;
	display: inline-block;
	width: auto;
	text-transform: inherit;
}

.list-layout .product-box .product-compare,
.list-layout .product-box .edit-product {
	position: absolute;
	left: 25px;
	right: auto;
	width: 125px;
	font-weight: normal;
	padding: 5px 0;
	opacity: 0;
	text-transform: inherit;
}

.list-layout .product-box .edit-product {
	top: 50px;
}

.list-layout .product-box .product-compare {
	top: 85px;
}
.list-layout .product-box:hover .product-compare,
.list-layout .product-box:hover .edit-product,
.list-layout .product-box:focus .product-compare,
.list-layout .product-box:focus .edit-product {
	opacity: 1;
}

@media (min-width: 768px) {
	.list-layout .product-box .image-box .product-img {
		height: 164px;
	}
}
@media (max-width: 767px) {
	.layout-switcher {
		display: none;
	}

	.list-layout .product-wrap {
		width: 50%;
		float: left;
	}

	.list-layout .product-box {
		padding: 0;
		margin: 0 0 8px;
		background: #ffffff;
	}

	.list-layout .product-box .image-box {
		width: 100%;
		float: none;
		height: 220px;
	}

	.list-layout .product-box .product-info-box {
		padding: 10px;
		float: none;
		width: 100%;
		border-top: 1px solid #e2e2e2;
	}

	.list-layout .product-title {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.list-layout .product-box .product-price {
		font-size: 14px;
		float: left;
		margin: 0 3px 0 0;
		line-height: 20px;
	}

	.list-layout .product-box .old-price {
		line-height: 20px;
	}

	.list-layout .product-box ul.product-features {
		max-height: none;
		padding: 0 5px;
		text-align: left;
	}

	.list-layout .product-box ul.product-features li {
		list-style-type: none;
		float: none;
	}

	.list-layout .product-box ul.product-features li:before,
	.list-layout .product-box ul.product-features li + li:before {
		content: '\f105';
		margin-right: 10px;
		font-family: fontawesome;
	}

	.list-layout .product-box .productquerybtn,
	.list-layout .product-box .btn-price-toggle {
		margin: 23px auto 18px;
		display: block;
		text-align: center;
	}

	.list-layout .product-box .product-compare,
	.list-layout .product-box .btn-quick-view,
	.list-layout .product-box .edit-product,
	.list-layout .product-box .btn-add-cart.buy {
		left: 0;
		right: 0;
		margin: auto;
		opacity: 0;
		width: 125px;
		padding: 5px 0;
		position: absolute;
	}

	.list-layout .isolate {
		border-top: 1px solid #cccccc;
	}

	.list-layout .product-box .edit-product {
		top: 30px;
	}

	.list-layout .product-box .product-compare {
		top: 65px;
	}

	.list-layout .product-box .btn-quick-view {
		top: 100px;
	}

	.list-layout .product-box .btn-add-cart.buy {
		top: 135px;
	}

	.list-layout .product-box:hover .product-compare,
	.list-layout .product-box:focus .product-compare,
	.list-layout .product-box:hover .btn-quick-view,
	.list-layout .product-box:focus .btn-quick-view,
	.list-layout .product-box:hover .btn-add-cart.buy,
	.list-layout .product-box:focus .btn-add-cart.buy {
		opacity: 1;
	}

	.list-layout .product-box .btn-add-cart.add,
	.list-layout .product-box .lbl-no-stock {
		margin: 14px auto 2px;
		display: block;
		font-size: 12px;
		padding: 5px 12px;
		text-transform: uppercase;
	}
}

@media (max-width: 580px) {
	.list-layout .product-wrap {
		width: 100%;
	}

	.list-layout .product-box .productquerybtn,
	.list-layout .product-box .btn-price-toggle {
		margin: 12px auto 8px;
	}
}
