div.fieldset {
	border: 1px solid #dedede;
	padding: 8px;
	margin-top: 16px;
	margin-bottom: 6px;
}

.order-info {
	margin-right: 10px;
}

.order-info tr {
	border-bottom: 1px solid #dedede;
}

.order-info td {
	line-height: 1.9;
	padding: 5px;
}

.order-total {
	font-weight: bold;
	background: #eeeeee;
	padding: 6px;
	cursor: default;
}

#address-viewer {
	text-align: left;
	padding: 0;
}

#address-viewer .address_label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	background: #efefef;
	color: #000000;
	padding: 3px;
}

#address-billing-text,
#address-shipping-text {
	margin-bottom: 10px;
	padding: 0;
}

.address_name {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	line-height: 1.8;
	margin-bottom: 10px;
	width: 230px;
}

.address_mobile {
	margin-left: 15px;
}

.address_mobile i.fa {
	font-size: 95%;
}

button.btn-action {
	background: transparent;
	white-space: nowrap;
	width: 100px;
	margin: 2px;
	border: 1px solid #c9c9c9;
	border-radius: 4px;
	padding: 3px 3px 3px 6px;
}

.btn-action {
	color: #aeaeae;
}

.btn-action span {
	line-height: 1.3;
	color: #000000;
}

.btn-action:before {
	font-size: 20px;
	float: left;
	line-height: 1.6;
	margin-right: 5px;
}

.btn-action {
	-webkit-box-shadow: 1px 1px 1px 1px #dfdfdf;
	-moz-box-shadow: 1px 1px 1px 1px #dfdfdf;
	box-shadow: 1px 1px 1px 1px #dfdfdf;
}

.btn-action:hover {
	-webkit-box-shadow: 1px 1px 1px 1px #c3c3c2;
	-moz-box-shadow: 1px 1px 1px 1px #c3c3c2;
	box-shadow: 1px 1px 1px 1px #c3c3c2;
}

.order-actions td + td {
	border-left: 1px solid #dfdfdf;
}

.order-items {
	margin-top: 15px;
}

.order-items > tr + tr {
	border-top: 1px solid #dedede;
}

.order-items > tbody > tr {
	border-bottom: 1px solid #dfdfdf;
}

.order-items > thead > tr {
	padding: 4px;
	height: 30px;
	background: #f5f5f5;
	border: 1px solid #cedede;
	text-transform: uppercase;
	line-height: 2.0;
}

.order-items td {
	padding: 5px;
	line-height: 1.6;
}

.shoprule-info > tbody > tr {
	border-top: 1px solid #dfdfdf;
}

.shoprule-info > tbody > tr:last-child {
	border-bottom: 1px solid #dfdfdf;
}

.shoprule-info > thead > tr {
	padding: 4px;
	height: 30px;
	background: #f5f5f5;
	border: 1px solid #cedede;
	text-transform: uppercase;
	line-height: 2.0;
}

.shoprule-info th, .shoprule-info td {
	padding: 3px 5px;
	line-height: 1.4;
}


.order-ship-info > tbody > tr {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.order-ship-info td {
	padding: 3px;
	line-height: 1.4;
}

.item-total {
	font-weight: bold;
	font-size: 14px;
}

.dark-link,
.dark-link:hover,
.dark-link:active,
.dark-link:focus,
.dark-link:visited {
	color: #333333;
}

.oi-status tr + tr {
	border-top: 1px solid #dfdfdf;
}

.oi-status td {
	background: #f9f9f9;
	color: #000000;
	font-size: 11px;
	line-height: .9;
}

.thin-line {
	padding: 0;
	line-height: 0.4;
}

.bg-color-dark {
	background: #dedede;
}

#payment-forms {
	clear: both;
}

#payment-forms .accordion-heading {
	background: #edecee;
}

#payment-forms a.accordion-toggle,
#payment-forms a.accordion-toggle:hover,
#payment-forms a.accordion-toggle:active,
#payment-forms a.accordion-toggle:focus {
	color: #000;
	text-decoration: none;
}

#payment-forms a.accordion-toggle:after {
	font-family: FontAwesome, serif;
	content: "\f078";
	float: right;
}

.payment-table {
	width: 100%;
}

.payment-table td {
	padding: 4px 1px;
}

.payment-fee {
	margin: 0 0 12px 2px;
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
}

.payment-fee span {
	margin: 6px 2px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	font-family: sans-serif;
}

