@import url('fe.view.cart.aio.css');

.layout-switcher {
	float: left;
	margin-bottom: 10px;
}
.sortingbar {
	float: right;
	margin-bottom: 10px;
}

.sortingbar label {
	float: left;
	font-size: 14px;
	margin: 0 8px 0 0;
}

.sortingbar select:focus {
	outline: 0;
}

.category-banner {
	margin-bottom: 20px;
}

.category-banner .cat-banner {
	display: block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.product-wrap {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-wrap.auto-adjust {
	width: 33.3%;
	min-width: 220px;
	padding: 0 5px;
}

.product-box {
	background-color: #ffffff;
	border: 1px solid #e2e2e2;
	position: relative;
	cursor: default;
	margin: 0 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-box .image-box {
	vertical-align: middle;
	background: #ffffff;
	width: 100%;
	padding: 3px;
	position: relative;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.product-box .image-box a {
	display: block;
	height: 100%;
}

.product-box .image-box .product-img {
	width: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.product-box:hover .image-box .product-img {
	opacity: 0.4;
}

.product-info-box {
	padding: 10px;
	border-top: 1px solid #e2e2e2;
}

.product-box .product-title {
	font-size: 14px;
	line-height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}

.product-box .product-title a,
.product-box .product-title a:hover {
	color: #222222;
	text-decoration: none;
}

.product-box .product-stars .fa {
	color: #fd9000;
}

.product-box .isolate {
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 4px 0;
}

.product-box .product-price {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 0 3px 0 0;
	letter-spacing: 1px;
	line-height: 20px;
}

.product-box .old-price {
	float: right;
	line-height: 20px;
}

.product-box .old-price del {
	font-weight: 500;
}

.product-box .product-offer {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ff5600;
}

.product-box ul.product-features {
	margin: 5px 0;
	padding: 0 5px;
	text-align: left;
}
.grid-layout .product-box ul.product-features {
	min-height: 95px;
}

.product-box ul.product-features li {
	font-size: 13px;
	line-height: 1.5;
	list-style-type: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-box ul.product-features li:before {
	content: '\f105';
	margin-right: 10px;
	font-family: fontawesome, serif;
}

.product-box .btn-price-toggle,
.product-box .productquerybtn {
	margin: 25px auto 20px;
	display: block;
	text-align: center;
}

.product-box .btn-price-toggle .btn,
.product-box .productquerybtn .btn {
	text-transform: uppercase;
	padding: 5px 12px;
	font-size: 12px;
}

.product-box .btn-quick-view,
.product-box .btn-add-cart.buy,
.product-box .edit-product,
.product-box .product-compare {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	width: 125px;
	opacity: 0;
	padding: 5px 0;
	font-size: 12px;
	text-transform: inherit;
}

.product-box .edit-product {
	top: 30px;
}

.product-box .product-compare {
	top: 65px;
}

.product-box .btn-quick-view {
	top: 100px;
}

.product-box .btn-add-cart.buy {
	top: 135px;
}

.product-box:hover .btn-quick-view,
.product-box:hover .btn-add-cart.buy,
.product-box:hover label.product-compare,
.product-box:hover .edit-product {
	opacity: 1;
}

.product-box .btn-add-cart.add,
.product-box .lbl-no-stock {
	margin: 14px auto 2px;
	display: block;
	font-size: 12px;
	padding: 5px 12px;
	text-transform: inherit;
}

.product-box .lbl-no-stock {
	opacity: 0.6;
}

label.product-compare input[type="checkbox"] {
	margin: 0;
	vertical-align: baseline;
}

.spl-cat-badge {
	max-height: 65px;
	max-width: 65px;
	position: absolute;
	top: 2px;
	right: 2px;
}

a.review-link:hover {
	text-decoration: none;
}

@media (max-width: 767px) {
	.layout-switcher {
		display: none;
	}

	.product-wrap.auto-adjust {
		width: 50%;
	}
}

@media (max-width: 580px) {
	.product-wrap.auto-adjust {
		width: 100%;
	}

	.product-box .productquerybtn,
	.product-box .btn-price-toggle {
		margin: 12px auto 8px;
	}

	.product-box ul.product-features {
		min-height: auto;
	}
}
