.jff-slabs-file-wrapper {
	border: 1px solid #dddddd;
	padding: 4px;
}

.jff-slabs-file-active input[type="file"] {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.shipping-slabs-wrapper {
	padding: 1px 1px 1px 2px;
	border: 1px solid #eeeeee;
	float: left;
}
.jff-fileplus-progress {
	float: left;
	margin: 2px 2px -2px !important;
	padding: 4px 26px !important;
	height: 20px;
	min-width: 20px;
	background: url("../images/progress-bar.gif") no-repeat;
	background-size: 20px;
	-webkit-background-size: 20px;
}

.btn-clear-slabs, .btn-showall-slabs {
	margin-left: 5px;
}
