.jff-eproductmedia-wrapper {
	background: #fff;
	padding: 4px;
}

.jff-eproductmedia-wrapper input[type="text"].inputbox {
	padding: 3px 6px;
	height: auto;
}

.jff-eproductmedia-wrapper table > tbody > tr:hover td {
	background: #e0efff;
}

.jff-eproductmedia-list {
	margin: 0;
}

.jff-eproductmedia-list li {
	position: relative;
	padding: 2px 15px 3px 0;
	margin: 1px 1px 1px 2px;
	white-space: nowrap;
}

.jff-eproductmedia-list li:first-child {
	margin-top: 5px;
}

.jff-eproductmedia-list a.jff-eproductmedia-disable,
.jff-eproductmedia-list a.jff-eproductmedia-enable {
	background: #B8D3A2;
	border-radius: 2px;
	padding: 2px 5px;
	margin: 0 5px 0 0;
}

.jff-eproductmedia-list a,
.jff-eproductmedia-list a:hover,
.jff-eproductmedia-list a:active,
.jff-eproductmedia-list a:focus {
	text-decoration: none;
}

.jff-eproductmedia-list li:hover {
	background: #beddf7;
	border-radius: 2px;
	padding: 2px 2px 3px 0;
}

.jff-eproductmedia-add {
	margin: 0 0 0 0 !important;
	float: left;
}

.jff-eproductmedia-add-ref {
	margin: 0;
}

.jff-eproductmedia-preview.disabled {
	opacity: 0;
}

.jff-eproductmedia-inactive {
	margin: 0 0 5px 0 !important;
	min-height: 32px !important;
}

.jff-eproductmedia-progress {
	float: left;
	margin: 2px 2px -2px !important;
	padding: 4px 26px !important;
	height: 22px;
	min-width: 22px;
	background: url("../images/progress-bar.gif") no-repeat;
	background-size: 22px;
	-webkit-background-size: 22px;
}

.jff-eproductmedia-list a.jff-eproductmedia-404 {
	text-decoration: line-through;
}

.jff-eproductmedia-list .jff-eproductmedia-preview {
	display: none;
}

.jff-eproductmedia-list .jff-eproductmedia-download:hover .jff-eproductmedia-preview {
	display: block;
	z-index: 100;
	max-width: 200px;
	max-height: 200px;
	position: absolute;
	border: 1px solid #000;
	margin: -2px;
	bottom: 30px;
	padding: 2px;
	background: #fff;
}

.jff-eproductmedia-media-file {
	width: 30%;
}

.jff-eproductmedia-hotlink {
	margin-left: 5px;
	margin-top: 2px;
}
