.table-commission thead th {
	background: #ddd;
	padding: 6px 4px;
}

table>tbody>tr.commission-row-0>td,
table>tbody>tr.commission-row-0:hover>td {
	font-weight: bold;
	border: 2px solid #ffeee2;
	border-right: 0 #ffeee2;
	border-left: 0 #ffeee2;
	background: #ffeee2;
	color: #000000;
}
