.jff-ug-wrapper {
	padding: 0;
	border: 1px solid #eee;
	background-color: #fff;
	max-width: 600px;
	margin-left: -2px;
}
input.jff-invalid {
	background: #ffe5e5;
	color: #000;
	border: 1px solid #f00;
}
.jff-ug-wrapper > table.table td {
	padding: 1px 1px;
}

.jff-ug-items .input,
.jff-ug-items .input:hover {
	padding: 5px;
	background: #fff;
	width: 100%;
	border: 1px solid #eee;
}
.jff-ug-remove, .jff-ug-add {
	height: 30px;
}
.jff-ug-items > tr {
	background: #fff;
}
.jff-ug-items > tr > td {
	padding: 4px 2px;
}
