[id^="jform_com_sellacious_"] .jff-document-download:after {
	width: 40px;
	content: 'Days ';
}
label input[type=checkbox].checkbox:checked+span {
	font-weight: normal !important;
}
input[type="number"] {
	width: 80px !important;
}
.alert kbd {
	padding: 3px 3px;
	margin: 2px;
	background: #fff;
	min-width: 170px;
	display: inline-block;
	text-align: center;
}

.alert kbd.sm {
	min-width: 90px;
}

.subform-repeatable-wrapper .subform-repeatable-group {
	counter-increment: rowNumber;
}

.subform-repeatable-wrapper .subform-repeatable-group .sub-form-row-level:after {
	content: counter(rowNumber);
	min-width: 1em;
	margin-right: 0.5em;
}
