#fuelux-wizard .step-pane > fieldset {
	padding: 10px;
}

#fuelux-wizard label {
	text-align: left;
}

.fuelux .wizard ul {
	counter-reset: step-counter;
}

.fuelux .wizard ul li .step-counter:before {
	content: counter(step-counter);
	counter-increment: step-counter;
}

.fuelux .wizard ul li .step-counter {
	margin: -4px 5px 2px -4px;
}

.fuelux .wizard ul li .step-counter:before {
	display: inline-block;
	min-width: 10px;
	white-space: nowrap;
	text-align: center;
	background-color: #999999;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #ffffff;
	vertical-align: baseline;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 4px 8px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.setup-spinner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 700;
	display: block;
	margin: 0 0 10px 0;
	padding: 50px 0;
	font-size: 130%;
}

.setup-spinner.setup-overlay {
	background: #eee;
	opacity: 1;
}

.fuelux {
	position: relative;
}

.form-horizontal label.control-label {
	margin-right: 0;
}
