.rating-stars .fa:before {
	color: #dc871f;
	font-size: 12px;
}
td.image-box {
	position: relative;
}

td.image-box .image-large {
	display: none;
}

td.image-box:hover .image-large {
	position: absolute;
	display: block;
	max-width: 300px;
	left: 54px;
	top: auto;
	z-index: 2001;
	background: #fff;
	border: 1px solid #050;
	margin: -50px 0 0 0;
	padding: 20px;
}

td.image-box .image-small,
td.image-box:hover .image-small {
	display: block;
	max-width: 55px;
	max-height: 55px;
	margin: auto;
}
