.button-mini {
	padding: 2px 5px;
	border: 1px solid #ffc363;
	color: #404040;
	background: #fcf8e3;
	cursor: pointer;
	text-decoration: none;
	font-size: 10px;
	line-height: 1.1;
	text-transform: uppercase;
	font-weight: bold;
}

.button-mini:hover,
.button-mini:active,
.button-mini:focus {
	color: #000;
	background: #fff000;
	text-decoration: none;
}

.has-modal .modal-close {
	position: absolute;
	right: 20px;
	top: 35px;
}

.text-italic {
	font-style: italic;
}

.strong {
	font-weight: bold;
}

div[id^="payment-form"] {
	text-align: left !important;
	width: 680px !important;
	margin-left: -340px !important;
}

#payment-methods .accordion-heading {
	background: #edecee;
}

#payment-methods a.accordion-toggle,
#payment-methods a.accordion-toggle:hover,
#payment-methods a.accordion-toggle:active,
#payment-methods a.accordion-toggle:focus {
	color: #000000;
	text-decoration: none;
}

#adminForm > table.table > th,
#adminForm > table.table > td {
	padding: 6px 4px;
}

#adminForm > table.table > tbody > tr:nth-child(4n+1) > td,
#adminForm > table.table > tbody > tr:nth-child(4n+2) > td {
	background: #fffefd;
}

#adminForm > table.table > tbody > tr:nth-child(4n+3) > td,
#adminForm > table.table > tbody > tr:nth-child(4n) > td {
	background: #f6fdff;
}

#adminForm > table.table .order-row > td {
	line-height: 1.6;
}

.order-items [id^='oi-row-'] {
	background: #fefdff;
}

td.amount-cell {
	text-align: right;
	padding-right: 10px !important;
	white-space: nowrap;
}

.shipment-form input[type="text"] {
	margin-top: 2px;
	margin-bottom: 2px;
}

.ajax-success:not(button) {
	background: #c9ffbc !important;
	border: 1px solid #008000 !important;
}

.ajax-failed:not(button) {
	background: #ffd3c2 !important;
	border: 1px solid #ff0000 !important;
}

.txt-color-black,
.txt-color-black:hover,
.txt-color-black:active,
.txt-color-black:focus {
	text-decoration: none;
	color: #000;
}

.item-status > button {
	border-radius: 0 2px 2px 0;
}

table.status-form-table > * > tr > td,
table.status-form-table > * > tr:hover > td {
	background: #ffffff !important;
	padding: 3px;
}

.status-form-container {
	width: 36%;
	max-width: 500px;
}

.status-form-container {
	border: 1px solid #dedede;
	padding: 3px;
}

.status-log-container {
	border: 0 solid #dedede;
	padding: 0;
}

.currency-select {
	width: 210px;
	text-align: left;
}

.filter-seller {
	margin-top: 10px;
	width: 230px !important;
	text-align: left;
}

.table-summary td + td {
	border-left: 2px solid #e9e9e9;
}

.package-items {
	margin: 0 0 0 -25px;
}
