<div align="center" style="width:100%; background-color:#575757; padding-bottom:20px; color:#999999;">
<table align="center" border="0" cellpadding="0" cellspacing="0" class="w600" style="background-color:#fff; color:#999999; margin:auto" width="600">
	<tbody class="acyeditor_sortable">
		<tr class="acyeditor_delete">
			<td class="w30" style="background-color:#575757" width="30"></td>
			<td class="acyeditor_text w540" style="text-align:right; color:#d2d1d1; background-color:#575757" width="540"><span class="acymailing_online">{readonline}If you can't see this e-mail properly, <span style="text-decoration:underline">view it online</span>{/readonline}</span></td>
			<td class="w30" style="background-color:#575757" width="30"></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="acyeditor_picture w600" colspan="3" style="line-height:0px; background-color:#575757" valign="bottom" width="600"><img alt="--" src="images/shadowtop.jpg" /></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="acyeditor_picture w600" colspan="3" style="line-height:0px; background-color:#f5f5f5" width="600"><img alt="--" src="images/top.jpg" /></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w30" height="32" style="background-color:#f5f5f5; border-bottom:1px solid #ddd" width="30"></td>
			<td class="acyeditor_text links w540" style="background-color:#f5f5f5; border-bottom:1px solid #ddd; text-align:right; color:#ababab" width="540"><a href="#"><img alt="mail" src="images/mail.jpg" style="float:right; border:none" /></a> Newsletter {mailid} | {date:%B %Y} |&nbsp; <a href="#">www.acyba.com</a> |</td>
			<td class="w30" height="32" style="background-color:#f5f5f5; border-bottom:1px solid #ddd" width="30"></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w600" colspan="3" height="16" width="600"></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w30" width="30"></td>
			<td class="acyeditor_text w540" width="540"><img alt="picture" src="images/pic1.jpg" style="float:right" />
			<h1>Your title !</h1>

			<h3>Your catchphrase</h3>
			Your introduction content here</td>
			<td class="w30" width="30"></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w30" style="background-color:#fafafa" width="30"></td>
			<td class="acyeditor_picture w540" style="background-color:#fafafa; line-height:0px" width="540"><img alt="---" src="images/separator1.jpg" /></td>
			<td class="w30" style="background-color:#fafafa" width="30"></td>
		</tr>
		<tr class="acyeditor_delete">
			<td class="w30" style="background-color:#fafafa" width="30"></td>
			<td class="acyeditor_text w540" style="background-color:#fafafa; color:#999999" width="540">
			<h2>Your subtitle</h2>
			<img alt="picture" src="images/pic2.jpg" style="float:left" />
			<h3>Your catchphrase</h3>
			Your content here<br />
			<a href="#">Some link</a> and some content<br />
			<br />
			<img alt="buy this product" src="images/buyproduct.jpg" /><br />
			<br />
			<br />
			<br />
			&nbsp;
			<h2>Another subtitle</h2>
			<img alt="picture" src="images/pic3.jpg" style="float:right" />
			<h3>Another catchphrase</h3>
			Other content<br />
			<br />
			<img alt="buy this product" src="images/buyproduct.jpg" /></td>
			<td class="w30" style="background-color:#fafafa" width="30"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w30" style="background-color:#fafafa" width="30"></td>
			<td class="acyeditor_picture w540" style="background-color:#fafafa; line-height:0px" width="540"><img alt="---" src="images/separator2.jpg" /></td>
			<td class="w30" style="background-color:#fafafa" width="30"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w600" colspan="3" height="16" width="600"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w30" width="30"></td>
			<td class="acyeditor_text special w540" style="color:#999999" width="540">
			<h2>Best product of the month</h2>

			<h3>Lorem ipsum dolor sit amet.</h3>
			Liget, volutpat esvft sem. Praesent auctor posuere orci, sit amet molee. Integer nec scelerisque quam. Lore uctor posum ipsum doLiget, volutpat esvft sem. Praesent auctor posuere orci, sit amet molee. Integer nec scelerisque quam. Lore uctor posum ipsum dolor sit amesent.<br />
			<br />
			<img alt="read more" src="images/readmore.jpg" style="border:none" /></td>
			<td class="w30" width="30"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w600" colspan="3" height="16" width="600"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w30" height="30" style="background-color:#f5f5f5; border-top:1px solid #ddd" width="30"></td>
			<td class="acyeditor_text w540" height="30" style="background-color:#f5f5f5; border-top:1px solid #ddd; text-align:right; color:#ababab" valign="bottom" width="540">Follow us | <img alt="facebook" src="images/facebook.jpg" style="border:none" /> <img alt="twitter" src="images/twitter.jpg" style="border:none" /> <img alt="pinterest" src="images/pinterest.jpg" style="border:none" /> <img alt="rss" src="images/rss.jpg" style="border:none" /></td>
			<td class="w30" height="30" style="background-color:#f5f5f5; border-top:1px solid #ddd" width="30"></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="acyeditor_picture w600" colspan="3" style="line-height:0px; background-color:#f5f5f5" width="600"><img alt="--" src="images/bottom.jpg" /></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="acyeditor_picture w600" colspan="3" style="line-height:0px; background-color:#575757" valign="bottom" width="600"><img alt="--" src="images/shadowbottom.jpg" /></td>
		</tr>
		<tr class="acyeditor_delete" >
			<td class="w30" style="background-color:#575757" width="30"></td>
			<td class="acyeditor_text w540" style="text-align:right; color:#d2d1d1; background-color:#575757" width="540"><span class="acymailing_unsub">{unsubscribe}If you don't want to receive our news anymore, <span style="text-decoration:underline">unsubscribe</span>{/unsubscribe} </span></td>
			<td class="w30" style="background-color:#575757" width="30"></td>
		</tr>
	</tbody>
</table>
</div>